<aside class="sidebar">
  <ul>
    <li>
      <a class="sidebarItem" href="#/">
        首頁
      </a>
    </li>
    <li>
      <a class="sidebarItem" href="#/01">
        01
      </a>
    </li>
  </ul>

</aside>