<aside class="sidebar">
  <h1>
    <a href="#/">50D50P</a>
  </h1>
  <p>50個有趣的網頁互動項目</p>
  <ul>
    <li class="sidebarItem">
      <a href="#/01">
        <img src="../assets/images/thumbnail/d1.png" alt="">
        <p>expanding cards</p>
      </a>
      <span>01</span>
    </li>
    <li class="sidebarItem">
      <a href="#/02">
        <img src="../assets/images/thumbnail/d2.png" alt="">
        <p>progress steps</p>
      </a>
      <span>02</span>
    </li>
    <li class="sidebarItem">
      <a href="#/03">
        <img src="../assets/images/thumbnail/d3.png" alt="">
        <p>rotating navigation</p>
        <span>03</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/04">
        <img src="../assets/images/thumbnail/d4.png" alt="">
        <p>hidden search</p>
        <span>04</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/05">
        <img src="../assets/images/thumbnail/d5.png" alt="">
        <p>blurry loading</p>
        <span>05</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/06">
        <img src="../assets/images/thumbnail/d6.png" alt="">
        <p>scroll animation</p>
        <span>06</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/07">
        <img src="../assets/images/thumbnail/d7.png" alt="">
        <p>Split Landing Page</p>
        <span>07</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/08">
        <img src="../assets/images/thumbnail/d8.png" alt="">
        <p>form wave</p>
      </a>
      <span>08</span>
    </li>
    <li class="sidebarItem">
      <a href="#/09">
        <img src="../assets/images/thumbnail/d9.png" alt="">
        <p>Sound Board</p>
        <span>09</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/10">
        <img src="../assets/images/thumbnail/d10.png" alt="">
        <p>Dad Jokes</p>
        <span>10</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/11">
        <img src="../assets/images/thumbnail/d11.png" alt="">
        <p>Event Keycodes</p>
      </a>
      <span>11</span>
    </li>
    <li class="sidebarItem">
      <a href="#/12">
        <img src="../assets/images/thumbnail/d12.png" alt="">
        <p>Faq Collapse</p>
      </a>
      <span>12</span>
    </li>
    <li class="sidebarItem">
      <a href="#/13">
        <img src="../assets/images/thumbnail/d13.png" alt="">
        <p>Random Choice Picker</p>
        <span>13</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/14">
        <img src="../assets/images/thumbnail/d14.png" alt="">
        <p>Animated Navigation</p>
        <span>14</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/15">
        <img src="../assets/images/thumbnail/d15.png" alt="">
        <p>Incrementing Counter</p>
        <span>15</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/16">
        <img src="../assets/images/thumbnail/d16.png" alt="">
        <p>drink water</p>
        <span>16</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/17">
        <img src="../assets/images/thumbnail/d17.png" alt="">
        <p>Movie App</p>
        <span>17</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/18">
        <img src="../assets/images/thumbnail/d18.png" alt="">
        <p>Background Slider</p>
      </a>
      <span>18</span>
    </li>
    <li class="sidebarItem">
      <a href="#/19">
        <img src="../assets/images/thumbnail/d19.png" alt="">
        <p>Theme Clock</p>
        <span>19</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/20">
        <img src="../assets/images/thumbnail/d20.png" alt="">
        <p>Button Ripple Effect</p>
        <span>20</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/21">
        <img src="../assets/images/thumbnail/d21.png" alt="">
        <p>Drag N Drop</p>
      </a>
      <span>21</span>
    </li>
    <li class="sidebarItem">
      <a href="#/22">
        <img src="../assets/images/thumbnail/d22.png" alt="">
        <p>Drawing App</p>
      </a>
      <span>22</span>
    </li>
    <li class="sidebarItem">
      <a href="#/23">
        <img src="../assets/images/thumbnail/d23.png" alt="">
        <p>Kinetic Loader</p>
        <span>23</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/24">
        <img src="../assets/images/thumbnail/d24.png" alt="">
        <p>Content Placeholder</p>
        <span>24</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/25">
        <img src="../assets/images/thumbnail/d25.png" alt="">
        <p>Sticky Navbar</p>
        <span>25</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/26">
        <img src="../assets/images/thumbnail/d26.png" alt="">
        <p>Double Vertical Slider</p>
        <span>26</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/27">
        <img src="../assets/images/thumbnail/d27.png" alt="">
        <p>Toast Notification</p>
        <span>27</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/28">
        <img src="../assets/images/thumbnail/d28.png" alt="">
        <p>Github Profiles</p>
      </a>
      <span>28</span>
    </li>
    <li class="sidebarItem">
      <a href="#/29">
        <img src="../assets/images/thumbnail/d29.png" alt="">
        <p>Double Click Heart</p>
        <span>29</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/30">
        <img src="../assets/images/thumbnail/d30.png" alt="">
        <p>Auto Text Effect</p>
        <span>30</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/31">
        <img src="../assets/images/thumbnail/d31.png" alt="">
        <p>Password Generator</p>
      </a>
      <span>31</span>
    </li>
    <li class="sidebarItem">
      <a href="#/32">
        <img src="../assets/images/thumbnail/d32.png" alt="">
        <p>Good Cheap Fast</p>
      </a>
      <span>32</span>
    </li>
    <li class="sidebarItem">
      <a href="#/33">
        <img src="../assets/images/thumbnail/d33.png" alt="">
        <p>Notes App</p>
        <span>33</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/34">
        <img src="../assets/images/thumbnail/d34.png" alt="">
        <p>Animated Count down</p>
        <span>34</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/35">
        <img src="../assets/images/thumbnail/d35.png" alt="">
        <p>Image Carousel</p>
        <span>35</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/36">
        <img src="../assets/images/thumbnail/d36.png" alt="">
        <p>Hoverboard</p>
        <span>36</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/37">
        <img src="../assets/images/thumbnail/d37.png" alt="">
        <p>Pokedex</p>
        <span>37</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/38">
        <img src="../assets/images/thumbnail/d38.png" alt="">
        <p>Mobile Tab Navigation </p>
      </a>
      <span>38</span>
    </li>
    <li class="sidebarItem">
      <a href="#/39">
        <img src="../assets/images/thumbnail/d39.png" alt="">
        <p>Password Strength Backgrounds</p>
        <span>39</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/40">
        <img src="../assets/images/thumbnail/d40.png" alt="">
        <p>3D Background Boxes</p>
        <span>40</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/41">
        <img src="../assets/images/thumbnail/d41.png" alt="">
        <p>Verify Account Ui</p>
      </a>
      <span>41</span>
    </li>
    <li class="sidebarItem">
      <a href="#/42">
        <img src="../assets/images/thumbnail/d42.png" alt="">
        <p>Live User Filter</p>
      </a>
      <span>42</span>
    </li>
    <li class="sidebarItem">
      <a href="#/43">
        <img src="../assets/images/thumbnail/d43.png" alt="">
        <p>Feedback Ui Design</p>
        <span>43</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/44">
        <img src="../assets/images/thumbnail/d44.png" alt="">
        <p>Custom Range Slider</p>
        <span>44</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/45">
        <img src="../assets/images/thumbnail/d45.png" alt="">
        <p>Netflix Mobile Navigation</p>
        <span>45</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/46">
        <img src="../assets/images/thumbnail/d46.png" alt="">
        <p>Quiz App</p>
        <span>46</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/47">
        <img src="../assets/images/thumbnail/d47.png" alt="">
        <p>Testimonial Box Switcher</p>
        <span>47</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/48">
        <img src="../assets/images/thumbnail/d48.png" alt="">
        <p>Random Image Feed</p>
      </a>
      <span>48</span>
    </li>
    <li class="sidebarItem">
      <a href="#/49">
        <img src="../assets/images/thumbnail/d49.png" alt="">
        <p>Todo List</p>
        <span>49</span>
      </a>
    </li>
    <li class="sidebarItem">
      <a href="#/50">
        <img src="../assets/images/thumbnail/d50.png" alt="">
        <p>Insect Catch Game</p>
        <span>50</span>
      </a>
    </li>
  </ul>

</aside>