<main class="projectContainer day09">
  <div class="container">
    <div class="currentPlay bg-gradient-reverse">
      <div class="albumCover bg-gradient">
        <p>Electronic</p>
      </div>
      <p>Electronic - Upbeat</p>
      <span>DanoSongs</span>
    </div>
    <ul>
      <label>
        <button id="togglePlayBtn" class="">
          <i id="btnPause" class="bi bi-pause-fill"></i>
          <i id="btnPlay" class="bi bi-play-fill"></i>
        </button>
        Song List
      </label>
      <li class="song">
        <div class="thumbnail bg-gradient"></div>
        <div class="songinfo">
          <p>Inspirabeat</p>
          <span>DanoSongs</span>
          <a href="#/09"><i class="bi bi-three-dots"></i></a>
        </div>
        <audio class="sound" src="../../assets/sounds/09/DanoSongs - Inspirabeat.mp3"></audio>
      </li>
      <li class="song">
        <div class="thumbnail bg-gradient"></div>
        <div class="songinfo">
          <p>Bright Brazil</p>
          <span>DanoSongs</span>
          <a href="#/09"><i class="bi bi-three-dots"></i></a>
        </div>
        <audio class="sound" src="../../assets/sounds/09/Danosongs - Bright Brazil.mp3"></audio>
      </li>
      <li class="song">
        <div class="thumbnail bg-gradient"></div>
        <div class="songinfo">
          <p>Feeling of Sunlight</p>
          <span>DanoSongs</span>
          <a href="#/09"><i class="bi bi-three-dots"></i></a>
        </div>
        <audio class="sound" src="../../assets/sounds/09/Danosongs - Feeling of Sunlight.mp3"></audio>
      </li>
    </ul>
    <pre> Music by DanoSongs. <a href="https://danosongs.com/licenses" target="_blank">licenses</a></pre>
  </div>
</main>
<footer>
  <h2>09 Soun Boar</h2>
</footer>