<main class="projectContainer day06">
  <h1> Scroll to see the animation⏬ </h1>
  <div class="articleWrap">
    <article>
      <div class="picture">
        <img src="../../assets/images/06/恆春小鎮.jpg" alt="恆春小鎮">
      </div>
      <div class="content">
        <p>恆春小鎮</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
    </article>
    <article>
      <div class="picture">
        <img src="../../assets/images/06/後壁湖漁港.jpg" alt="後壁湖漁港">
      </div>
      <div class="content">
        <p>後壁湖漁港</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
    </article>
    <article>
      <div class="picture">
        <img src="../../assets/images/06/帆船石.jpg" alt="帆船石">
      </div>
      <div class="content">
        <p>帆船石</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
    </article>
    <article>
      <div class="picture">
        <img src="../../assets/images/06/鵝鑾鼻燈塔.jpg" alt="鵝鑾鼻燈塔">
      </div>
      <div class="content">
        <p>鵝鑾鼻燈塔</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
    </article>
    <article>
      <div class="picture">
        <img src="../../assets/images/06/關山日落.jpg" alt="關山日落">
      </div>
      <div class="content">
        <p>關山日落</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
    </article>
    <article>
      <div class="picture">
        <img src="../../assets/images/06/龍磐公園.jpg" alt="龍磐公園">
      </div>
      <div class="content">
        <p>龍磐公園</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </div>
    </article>
  </div>
</main>
<footer>
  <h2>06 scroll animation</h2>
</footer>