<main class="projectContainer day08">
  <div class="container">
    <h1>登入帳號</h1>
    <form>
      <div class="form-control">
        <input type="text" required>
        <label>Email</label>
        <!-- <label>
                <span style="transition-delay: 0ms;">E</span>
                <span style="transition-delay: 50ms;">m</span>
                <span style="transition-delay: 100ms;">a</span>
                <span style="transition-delay: 150ms;">i</span>
                <span style="transition-delay: 200ms;">l</span>
            </label> -->
      </div>
      <div class="form-control">
        <input type="password" required>
        <label for="">Password</label>
      </div>
      <button class="btn">登入</button>

      <p class="text">尚未註冊會員？
        <a href="#/08">立即註冊</a>
      </p>
    </form>
  </div>
</main>
<footer>
  <h2>08 form wave</h2>
</footer>