<main class="projectContainer day04">

  <div class="search">
    <input type="text" class="input" placeholder="Search...">
    <button class="btn">
      <i class="fas fa-search"></i>
    </button>
    <!-- <p id="showText">適合放在桌機nav-bar的位置</p> -->
  </div>
</main>
<footer>
  <h2>04 hidden search</h2>
</footer>