<div class="container">
  <div class="panel active" id="panelTaipei101">
    <div class="description">
      <h3>霞暮101</h3>
      <p>每到初秋，由象山頂望向101，美麗的霞慕非常迷人真是台灣之最。</p>
    </div>
  </div>
  <div class="panel" id="yehliu-geopark">
    <div class="description">
      <h3>野柳石光夜訪女王</h3>
      <p>野柳石光夜訪女王，女王頭光雕藝術</p>
    </div>
  </div>
  <div class="panel " id="taichung">
    <div class="description">
      <h3>台中公園之美</h3>
      <p>台中公園是全台有名的地標，在夜晚華燈初上更加亮麗美觀。</p>
    </div>
  </div>
  <div class="panel" id="tainan">
    <div class="description">
      <h3>台南奇美博物館</h3>
      <p>台灣藝文生活的興盛，提供來台的旅客不同的旅遊方向，讓旅客看到台灣文靜而生動的一面。</p>
    </div>
  </div>
  <div class="panel" id="kaoshiung">
    <div class="description">
      <h3>高雄龍虎塔</h3>
      <p>匯集台灣許多國際知名的地標或景點，希望外國旅客看到此影片能夠產生對台灣印象的共鳴。</p>
    </div>
  </div>
</div>
<!-- <p>範例圖片取自 交通部觀光署<a href="https://media.taiwan.net.tw/zh-tw/portal">觀光多媒體開放資料</a></p> -->