<main class="projectContainer day05">
  <h1 class="hidden" id='day05Title'>阿里山傷心山日落雲海</h1>
  <div class="loading-text">0%</div>
  <section class="blur">
    <video muted loop>
      <source src='../../assets/images/05/video.mp4' type="video/mp4">
    </video>
  </section>
</main>
<footer>
  <h2>05 blurry loading</h2>
</footer>