<main class="projectContainer day18" id='day18'>
  <div class="slider-container">
    <div class="slide active" style="background-image: url('https://source.unsplash.com/random/800x600');">
    </div>
    <div class="slide " style="background-image: url('https://source.unsplash.com/random/800x601');">
    </div>
    <div class="slide " style="background-image: url('https://source.unsplash.com/random/800x602');">
    </div>
    <div class="slide " style="background-image: url('https://source.unsplash.com/random/800x603');">
    </div>
    <div class="slide " style="background-image: url('https://source.unsplash.com/random/800x604');">
    </div>
  </div>
  <button class="arrow left-arrow" id="left">
    <i class="fas fa-arrow-left"></i>
  </button>
  <button class="arrow right-arrow" id="right">
    <i class="fas fa-arrow-right"></i>
  </button>
</main>
<footer>
  <h2>18 Background Slider</h2>
</footer>