<main class="projectContainer day17">
  <header>
    <form id="form">
      <input type="text" id="search" class="search" placeholder="Search">
    </form>
  </header>

  <main id="main">
    <div class="movie">
      <img
        src="https://images.unsplash.com/photo-1562362841-97d9eae6b213?auto=format&fit=crop&q=80&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&w=987"
        alt="${title}">
      <div class="movie-info">
        <h3>Movie Title</h3>
        <span class="green">9.8</span>
      </div>
      <div class="overview">
        <h3>Overview</h3>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque ipsa exercitationem ipsum dignissimos
        eveniet ad maiores eum optio eius inventore?
      </div>
    </div>
    <div class="movie">
      <img
        src="https://images.unsplash.com/photo-1562362841-97d9eae6b213?auto=format&fit=crop&q=80&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&w=987"
        alt="${title}">
      <div class="movie-info">
        <h3>Movie Title</h3>
        <span class="orange">9.8</span>
      </div>
      <div class="overview">
        <h3>Overview</h3>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque ipsa exercitationem ipsum dignissimos
        eveniet ad maiores eum optio eius inventore?
      </div>
    </div>
    <div class="movie">
      <img
        src="https://images.unsplash.com/photo-1562362841-97d9eae6b213?auto=format&fit=crop&q=80&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&w=987"
        alt="${title}">
      <div class="movie-info">
        <h3>Movie Title</h3>
        <span class="red">9.8</span>
      </div>
      <div class="overview">
        <h3>Overview</h3>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque ipsa exercitationem ipsum dignissimos
        eveniet ad maiores eum optio eius inventore?
      </div>
    </div>
  </main>

</main>
<footer>
  <h2>17 Movie App</h2>
</footer>