<main class="projectContainer day16">
  <h1>喝水</h1>
  <h3>目標: 2 公升</h3>

  <div class="wrap">
    <div class="cup">
      <div class="remained" id="remained">
        <small>剩餘</small>
        <span id="liters"><span>
      </div>
      <div class="percentage" id="percentage">
      </div>
    </div>

    <div class="">
      <p class="text">選擇你喝了多少杯水</p>
      <div class="cups">
        <div class="cup cup-small ">250 ml</div>
        <div class="cup cup-small ">250 ml</div>
        <div class="cup cup-small ">250 ml</div>
        <div class="cup cup-small ">250 ml</div>
        <div class="cup cup-small ">250 ml</div>
        <div class="cup cup-small ">250 ml</div>
        <div class="cup cup-small ">250 ml</div>
        <div class="cup cup-small ">250 ml</div>
      </div>
    </div>
  </div>
</main>
<footer>
  <h2>16 drink water</h2>
</footer>