<main class="projectContainer day14">
  <nav class="" id="nav">
    <ul>
      <li><a href="#/14">首頁</a></li>
      <li><a href="#/14">作品</a></li>
      <li><a href="#/14">關於</a></li>
      <li><a href="#/14">聯絡</a></li>
    </ul>
    <button class="icon" id="toggle">
      <div class="line line1"></div>
      <div class="line line2"></div>
    </button>
  </nav>

  <!-- Dribbble link: https://dribbble.com/shots/2427219-Header-Navigation-Day-053-dailyui -->
</main>
<footer>
  <h2>14 Animated Navigation</h2>
</footer>