<main class="projectContainer day13">
  <div class="container">
    <h3>隨機選擇器
      <hr>輸入所有選項，並以逗號 (',') 分隔。
    </h3>
    <div class="sample">
      <p>隨機選項範本:
        <a href="#/13" class="sampleName">英文名字</a>,
        <a href="#/13" class="sampleLocation">台灣地點</a>,
        <a href="#/13" class="sampleFood">美食</a>
      </p>
    </div>
    <textarea placeholder="輸入選項..." id="textarea"></textarea>
    <button class="btn">送出</button>
    <div id="tags">
      <!-- <span class="tag">選項1</span>
        <span class="tag">選項2</span>
        <span class="tag highlight">選項3</span> -->
    </div>
  </div>
</main>
<footer>
  <h2>13 Random Choice Picker </h2>
</footer>