<main class="projectContainer day25">
  <header>
    <nav>
      <a href="#/25">
        <h1>My website</h1>
      </a>
      <ul>
        <li><a href="#/25" class="active">首頁</a></li>
        <li><a href="#/25">關於</a></li>
        <li><a href="#/25">服務</a></li>
        <li><a href="#/25">聯絡</a></li>
      </ul>
    </nav>
  </header>
  <div class="banner">
    <div class="webintro">
      <h2>歡迎光臨我的網站</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, sint!</p>
    </div>
  </div>
  <div class="content">
    <h4>Content One</h4>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione dolorem voluptates eveniet tempora ut
      cupiditate magnam, sapiente, hic quo in ipsum iste soluta eaque perferendis nihil recusandae dolore officia
      aperiam corporis similique. Facilis quos tempore labore totam! Consectetur molestiae iusto ducimus error
      reiciendis aspernatur dolor, modi dolorem sit architecto, voluptate magni sunt unde est quas? Voluptates a dolorum
      voluptatum quo perferendis aut sit. Aspernatur libero laboriosam ab eligendi omnis delectus earum labore, placeat
      officiis sint illum rem voluptas ipsum repellendus iste eius recusandae quae excepturi facere, iure rerum sequi?
      Illum velit delectus dicta et iste dolorum obcaecati minus odio eligendi!</p>
    <h4>Content Two</h4>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione dolorem voluptates eveniet tempora ut
      cupiditate magnam, sapiente, hic quo in ipsum iste soluta eaque perferendis nihil recusandae dolore officia
      aperiam corporis similique. Facilis quos tempore labore totam! Consectetur molestiae iusto ducimus error
      reiciendis aspernatur dolor, modi dolorem sit architecto, voluptate magni sunt unde est quas? Voluptates a dolorum
      voluptatum quo perferendis aut sit. Aspernatur libero laboriosam ab eligendi omnis delectus earum labore, placeat
      officiis sint illum rem voluptas ipsum repellendus iste eius recusandae quae excepturi facere, iure rerum sequi?
      Illum velit delectus dicta et iste dolorum obcaecati minus odio eligendi!</p>
  </div>
</main>
<footer>
  <h2>25 Sticky Navbar</h2>
</footer>