<main class="projectContainer day21">
  <div class="empty">
    <div class="fill" draggable="true"></div>
  </div>
  <div class="empty">
  </div>
  <div class="empty"></div>
  <div class="empty"></div>
  <div class="empty"></div>
</main>
<footer>
  <h2>21 Drag N Drop</h2>
</footer>