<main class="projectContainer day20">
  <button class="ripple">點擊按鈕</button>
  <!-- <button class="ripple">點擊按鈕
      <span class="circle"></span>
  </button> -->
</main>
<footer>
  <h2>20 Button Ripple Effect</h2>
</footer>