<main class="projectContainer day28">
  <form action="" class="user-form" id="form">
    <input type="text" id="search" placeholder="輸入想搜尋的GitHub用戶">
  </form>
  <main id="main">
    <!--<div class="card">
        <div class="">
            <img src="https://randomuser.me/api/portraits/men/11.jpg" alt="" class="avatar">
        </div>
        <div class="user-info">
            <h2>Username</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique cupiditate molestiae veritatis inventore.</p>
            <ul>
                <li>300 <strong>Followers</strong></li>
                <li>10 <strong>Following</strong></li>
                <li>30 <strong>Repos</strong></li>
            </ul>
            <div id="repos">
                <a href="#" class="repo">Repo 1</a>
                <a href="#" class="repo">Repo 2</a>
                <a href="#" class="repo">Repo 3</a>
            </div>
        </div>
    </div> -->
  </main>
</main>
<footer>
  <h2>28 Github Profiles</h2>
</footer>