<main class="projectContainer day39">
  <div class="background" id="background"></div>
  <div class="bg-white rounded p-10 text-center shadow-md form">
    <h1 class="text-3xl ">登入帳號</h1>
    <p class="text-sm text-red-500">增強密碼強度時圖片將變得清晰</p>
    <div class="my-4 text-left">
      <label for="email" class="text-gray-900">帳號 (註冊時填寫的信箱)</label>
      <input type="text" class="border block w-full p-2 mt-2 rounded" id="email" placeholder="Enter Email" />
    </div>

    <div class="my-4 text-left">
      <label for="email" class="text-gray-900">密碼</label>
      <input type="password" class="border block w-full p-2 mt-2 rounded" id="password" placeholder="Enter Password" />
    </div>

    <button class="bg-black text-white py-2 mt-4 inline-block w-full rounded" type="submit">
      登入
    </button>
  </div>
</main>
<footer>
  <h2>39 Password Strength Backgrounds</h2>
</footer>