<main class="projectContainer day35">
  <div class="carousel">
    <div class="image-container" id="imgs">
      <img src='../../assets/images/35/1.png' />
      <img src='../../assets/images/35/2.png' />
      <img src='../../assets/images/35/3.png' />
      <img src='../../assets/images/35/4.png' />
      <img src='../../assets/images/35/5.png' />
    </div>

    <div class="buttons-container">
      <button id="left" class="btn">Prev</button>
      <button id="right" class="btn">Next</button>
    </div>
  </div>
</main>
<footer>
  <h2>35 Image Carousel</h2>
</footer>