<main class="projectContainer day32">
  <div class="container">
    <h2>南臺灣二日遊行程(擇二)</h2>
    <div class="toggle-container">
      <input type="checkbox" id="tainan" class="toggle" checked>
      <label for="tainan" class="label">
        <div class="ball"></div>
      </label>
      <span>台南安平老街</span>
    </div>

    <div class="toggle-container">
      <input type="checkbox" id="kaohsiung" class="toggle">
      <label for="kaohsiung" class="label">
        <div class="ball"></div>
      </label>
      <span>高雄紅毛港文化園區</span>
    </div>

    <div class="toggle-container">
      <input type="checkbox" id="pingtung" class="toggle">
      <label for="pingtung" class="label">
        <div class="ball"></div>
      </label>
      <span>屏東恆春小鎮</span>
    </div>
  </div>
</main>
<footer>
  <h2>32 Good Cheap Fast</h2>
</footer>