<main class="projectContainer day33" id='day33main'>
  <button class="add" id="add">
    <i class="fas fa-plus"></i> 新增便籤
  </button>

  <!-- 編輯時顯示textarea 保存後顯示main✍️ -->
  <!--<div class="note">
    <div class="tools">
        <button class="edit"><i class="fas fa-edit"></i></button>
        <button class="delete"><i class="fas fa-trash-alt"></i></button>
    </div>
    <div class="main hidden">已保存的內容</div>
    <textarea>在這裡輸入內容..</textarea> 
</div> -->
</main>
<footer>
  <h2>33 Notes App</h2>
</footer>