<main class="projectContainer day34">
  <div class="counter">
    <div class="nums">
      <span class="in">3</span>
      <span>2</span>
      <span>1</span>
      <span>0</span>
    </div>
    <h4>準備開始囉</h4>
  </div>

  <div class="final">
    <h1>GO! </h1>
    <button id="replay">
      <span>重新載入</span>
    </button>
  </div>
</main>
<footer>
  <h2>34 Animated Count down </h2>
</footer>