<main class="projectContainer day49">
  <h1>Todos</h1>
  <form id="form">
    <input type="text" class="input" id="input" placeholder="輸入待辦事項" autocomplete="off">
    <ul class="todos" id="todos">
      <!-- <li>待辦事項1</li>
          <li>待辦事項2</li> -->
    </ul>
  </form>
  <small>左鍵點選切換完成。 <br>右鍵單擊刪除待辦事項</small>
</main>
<footer>
  <h2>49 Todo List</h2>
</footer>