<main class="projectContainer day46">
  <div class="quiz-container" id="quiz">
    <div class="quiz-header">
      <h3 id="quizNum">第 1 題</h3>
      <h2 id="question">哪一顆行星是太陽系中最大的行星？</h2>
      <ul>
        <li>
          <input type="radio" name="answer" id="a" class="answer">
          <label for="a" id="a_text">水星</label>
        </li>

        <li>
          <input type="radio" name="answer" id="b" class="answer">
          <label for="b" id="b_text">地球</label>
        </li>

        <li>
          <input type="radio" name="answer" id="c" class="answer">
          <label for="c" id="c_text">木星</label>
        </li>

        <li>
          <input type="radio" name="answer" id="d" class="answer">
          <label for="d" id="d_text">金星</label>
        </li>
      </ul>
    </div>
    <button id="submit">送出答案</button>
  </div>
</main>
<footer>
  <h2>46 Quiz App</h2>
</footer>