@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
#panelTaipei101 {
  background-image: url('../../assets/images/01/台北101.png');
}
#yehliu-geopark {
  background-image: url('../../assets/images/01/新北野柳女王頭.jpg');
}
#taichung {
  background-image: url('../../assets/images/01/台中公園之美.jpg');
}
#tainan {
  background-image: url('../../assets/images/01/台南奇美博物館.jpg');
}
#kaoshiung {
  background-image: url('../../assets/images/01/高雄龍虎塔.jpg');
}
.projectContainer.day01 {
  .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 150px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
  }

  .panel .description {
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
  }

  .panel.active {
    flex: 5;
  }

  .panel.active .description {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }

  @media (max-width: 480px) {
    .container {
      width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
      display: none;
    }
  }
}
